<section class="row" data-ng-controller="AuthenticationController">
	<h2 class="col-md-12 text-center">Login</h2>
	<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<h5>
					<div data-ng-show="error" class="text-center text-danger">
						<div class="alert alert-danger" role="alert">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</h5>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>

				<h5>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
					</span>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				</h5>

				<div class="text-center">
					<button type="submit" class="btn btn-success btn-block">Sign in</button>
				</div>

				<h5>
					<div class="row">
						<div class="forgot-password text-left col-xs-6">
							<a href="/#!/password/forgot">Forgot your password?</a>
						</div>
						<div class="forgot-password text-right col-xs-6">
							or&nbsp;<a href="/#!/signup">Sign up</a>
						</div>
					</div>
				</h5>
			</fieldset>
		</form>
	</div>
</section>